body {
    font-family: Georgia, serif;
    font-size: 1.25rem;
}

.aboutName {
    font-size: 1.5rem;
    font-weight: bold
}

.aboutPic {
    border-radius: 50%;
}

h1 {
    text-shadow: 2px 3px 3px rgba(0,0,0,0.25);
}

#map { 
    height: 500px; 
    background: white;
}
