body {
    margin-bottom: 60px;
    background-color: #cccccc;
    color: black;
}

@media screen and (prefers-color-scheme: dark) {
    body {
        background-color: #152028;
        color: white;
    }
    .jumbotron {
        background-color: #43616f;
        color: white;
    }
    footer {
        background-color: #152028;
        color: white;
    }
}

h1 {
    margin: 25px;
}

p {
    margin: 25px;
}

footer {
    font-size: small;
    width: 100%;
    text-align: center;
}

html {
    position: relative;
    min-height: 100%;
    font-size: 1rem;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

.aboutName {
    font-size: 1.5rem;
}