body {
    margin-bottom: 160px;
}

html {
    position: relative;
    min-height: 100%;
    font-size: 1rem;
}

.aboutName {
    font-size: 1.5rem;
    font-weight: bold
}

.aboutPic {
    border-radius: 50%;
}